.checkbox {
    display: none;
}
.switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4rem;
    .switch-scientific {
        width: 40px;
        height: 20px;
        background:#ccc;
        border-radius: 20px;
        position:relative;
        cursor: pointer;
        &::before {
            content: '';
            position:absolute;
            width: 12px;
            height: 12px;
            top: 4px;
            left: 4px;
            border-radius: 50%;
            background-color:hsl(0, 0%, 100%);
            transition: all 150ms ease-out;
        }
    }
}

input[type=checkbox]:checked + .switch-scientific::before {
    left:23.5px;

}